@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000014;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-alternative: var(--font-ubuntu);
  --font-mono: var(--font-geist-mono);
}

